.notifications {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000000;

  .notification-component {
    position: relative;
    width: auto;
    max-width: 300px;
    height: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 5px;
  }
}